.tracuu{
    background-color:#f3f3f5;
    margin: 0 auto;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 10px rgb(145 140 140);
}
.tracuu h2{
    text-align: center;
    padding:15px;
    background-color: #051922;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.tracuu h2 span2{
    border-bottom: 2px solid white;
    padding: 5px;
}
.tracuu table{
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    border-collapse:separate ;
    border-spacing: 50px 0px;
    margin-top:-15px;
}
.tracuu table tr td span1{ 
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: #F28123;
    color: white;
}
.tracuu tr td a{
    text-decoration: none;
    color: #85858a;
    font-style:italic;
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
        .tracuu{
            margin-top:-100px;
        }
        .tracuu table{
            border-spacing: 10px 0px;
            line-height: 80px;
        }
        .tracuu h2 span2{
            font-size:18pt;
        }
        .tracuu table th{
            font-size:8pt;
        }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .tracuu{
        margin-top:-100px;
    }
    .tracuu table{
        border-spacing: 5px 0px;
        line-height: 50px;
    }
    .tracuu h2 span2{
        font-size:14pt;
    }
    .tracuu table th{
        font-size:6pt;
    }
    .tracuu table td{
        font-size:5pt;
    }
}
/* Wide Mobile Layout: 375px. */
@media only screen and (min-width: 375px) and (max-width: 812px) { 
    .tracuu{
        margin-top:-325px;
    }
    .tracuu table{
        border-spacing: 3px 0px;
        line-height: 50px;
    }
    .tracuu h2 span2{
        font-size:14pt;
    }
    .tracuu table th{
        font-size:5pt;
    }
    .tracuu table td{
        font-size:5pt;
    }
}